.mat-dialog-content {
    padding: 0;
  }

.top {
    text-align: center;
    padding: 2em;
    margin-bottom: 8px;
    background-color: #FF5722;
    color: #fff;
}

.material-icons {
    font-size: 82px;
}

.cancelar {
    background-color: #43A047;
}
